<div [ngSwitch]="extension">
  <div *ngSwitchCase="'audio'">
    <app-audio-module source="{{ source }}"> </app-audio-module>
  </div>
  <div *ngSwitchCase="'video'">
    <app-video-module source="{{ source }}"> </app-video-module>
  </div>
  <div *ngSwitchCase="'image'">
    <app-image-module source="{{ source }}"> </app-image-module>
  </div>
  <div *ngSwitchCase="'pdf'">
    <app-pdf-module source="{{ source }}" *ngIf="1"> </app-pdf-module>
  </div>
  <div *ngSwitchCase="'svg'">
    <app-svg-module source="{{ source }}" *ngIf="1"> </app-svg-module>
  </div>
  <div *ngSwitchCase="'youtube'">
    <app-youtube-module source="{{ source }}" *ngIf="1"> </app-youtube-module>
  </div>
</div>
