<div *ngFor="let album of _collectionData">
  <div [ngSwitch]="album.type">
    <div *ngSwitchCase="'audio'">
      <app-audio-module source="{{ album.data }}"> </app-audio-module>
    </div>
    <div *ngSwitchCase="'video'">
      <app-video-module source="{{ album.data }}"> </app-video-module>
    </div>
    <div *ngSwitchCase="'image'">
      <app-image-module source="{{ album.data }}"> </app-image-module>
    </div>
    <div *ngSwitchCase="'pdf'">
      <app-pdf-module source="{{ album.data }}" *ngIf="1"> </app-pdf-module>
    </div>
    <div *ngSwitchCase="'svg'">
      <app-svg-module source="{{ album.data }}" *ngIf="1"> </app-svg-module>
    </div>
    <div *ngSwitchCase="'youtube'">
      <app-youtube-module source="{{ album.data }}" *ngIf="1"> </app-youtube-module>
    </div>
  </div>
</div>
